@import '../../styles/app.scss';


.mainTable {

  td {
    vertical-align: middle;
  }

  img {
    width: 75px;
    height: 75px;
  }
}

.secondaryTable {

  img {
    width: 50px;
    height: 50px;
  }
}
