@import '../../../styles/app.scss';

.sidebarItem {

  list-style-type: none;


  >a {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: open-sans-regular;
    color: white;
    cursor: pointer;

    img {
      width: 25px;
      margin-right: 20px;
    }

    &:hover,
    &:focus,
    &:active {
      background: $sidebar-color-active;
    }
  }
}

.collapseButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: none;
  outline: none;
  border: none;
  width: 100%;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: open-sans-regular;
  color: white;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  img {
    width: 25px;
    margin-right: 20px;
  }
}

.panel {

  ul {
    padding: 0.5rem 0;
    background: $sidebar-color-collapse;

    li {

      >a {
        display: inline-block;
        width: 100%;
        padding-left: 77px;
        text-decoration: none;
        text-transform: capitalize;
        letter-spacing: 1px;
        font-size: 16px;
        font-family: open-sans-regular;
        color: white;
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {
          color: rgb(123, 160, 238);
        }
      }
    }
  }
}

.activeLink {
  background: $sidebar-color-active;
}

.activeChildLink {
  color: rgb(123, 160, 238) !important;
}

.arrow {
  width: 15px;
  margin-left: auto;

  img {
    width: 100%;
  }
}

.arrow img {
  transition: 0.3s;
}

.arrowActive img {
  transform: rotate(-90deg);
}