$nav-height: 75px;

$sidebar-width: 275px;

$gray-100: #f9f6f2;
$gray-200: #efedea;
$gray-300: #cccbca;
$gray-400: rgb(165, 165, 165);
$gray-500: rgb(136, 136, 136);
$gray-600: #5e666d;
$gray-700: #4d4d4d;
$gray-800: #343a40;
$gray-900: #212529;


$sidebar-color-main: #03264e;
$sidebar-color-collapse:  rgb(4, 24, 46);
$sidebar-color-active:  rgb(9, 48, 90);