@import '../../styles/app.scss';

.root {
  background-color: #fff;
  height: $nav-height;
}

:global {
  .input-group {
    background: $gray-100;
    width: 300px;
    border: 1px solid #c1c1c1b0;
    border-radius: 10px;

    transition: 0.2s ease-in-out;

    @include media-breakpoint-down(md) {
      width: 200px;
    }

    @include media-breakpoint-down(xs) {
      display: none;
    }

    input {
      background: transparent;
      border: none;

      &:active,
      &:focus {
        background: $gray-100;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 2px rgb(0, 214, 252);
        outline: 0 none;
      }

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $gray-400;
        opacity: 1;
        /* Firefox */
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $gray-400;
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $gray-400;
      }
    }

    .input-group-append {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $gray-400;

      svg {
        width: 25px;
        height: 25px;
      }
    }
  }
}

.headerIcon {
  width: 50px;
  height: 50px;
  margin: auto;

  button {
    position: relative;
    width: 100%;
    height: 100%;

    :global .badge {
      position: absolute;
      background: red;
      top: 5px;
      right: 0;
      font-size: 10px;
    }
  }

  @include media-breakpoint-down(md) {
    display: none;
  }

  :global .btn {
    background: none;
    border: none;

    &:hover,
    &:active,
    &:focus,
    &:focus:active {
      background: none;
      box-shadow: none !important;
      outline: none;
    }
  }

  svg {
    color: $gray-400;
    width: 25px;
    height: 25px;
  }
}

.navBars {

  display: initial;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.dropdown {

  .faceImg {
    width: 40px;
    height: 40px;
  }

  span {
    margin-left: 1rem;
    font-size: 1rem;
    color: black;
  }

  a {
    color: black;
  }
}